/* Small devices */ 

@media only screen and (max-width: 767px) {

    .tabs-container {
        padding-inline: 25px;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
    
    .tab-about:hover,
    .tab-experience:hover,
    .tab-projects:hover,
    .tab-contact:hover,
    .tab-profile-card:hover,
    .tab-git-hub:hover {
        color: rgb(248, 0, 0);
        cursor: pointer;
    }
    
    .introduction {
        height: 100vh;
        margin-bottom: -50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;
        position: relative;
        text-align: center;
    }
    
    .main-heading {
        font-size: 20px;
        letter-spacing: 3px;
        font-family:'Times New Roman', Times, serif;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    .job-role {
        font-size: 18px;
        letter-spacing: 3px;
        margin-bottom: 10px;
        font-family: 'Times New Roman', Times, serif;
    }

    .intro-welcome-text {
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    .intro-text {
        color: rgb(255, 255, 255);
        font-size: 15px;
        letter-spacing: 0.5px;
        font-family: 'Times New Roman', Times, serif;
        border: solid red 2px;
        padding-right: 200px;
        padding-left: 200px;
    }

}



/* Large devices */

@media only screen and (min-width: 768px) {

    .tabs-container {
        padding-inline: 25px;
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        margin-top: 20px;
      }
    
    .tab-about:hover,
    .tab-experience:hover,
    .tab-projects:hover,
    .tab-contact:hover,
    .tab-profile-card:hover,
    .tab-git-hub:hover {
        color: rgb(248, 0, 0);
        cursor: pointer;
    }
    
    .introduction {
        height: 100vh;
        margin-bottom: -30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;
        position: relative;
        text-align: center;
    }
    
    .main-heading {
        font-size: 40px;
        letter-spacing: 10px;
        font-family:'Times New Roman', Times, serif;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    .job-role {
        font-size: 22px;
        letter-spacing: 5px;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .intro-welcome-text {
        color: white;
        font-size: 18px;
        letter-spacing: 1.5px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    .intro-text {
        color: rgb(255, 255, 255);
        font-size: 15px;
        letter-spacing: 0.5px;
        font-family: 'Times New Roman', Times, serif;
        border: solid red 2px;
        padding-right: 200px;
        padding-left: 200px;
    }

}