/* Small devices */ 

@media only screen and (max-width: 767px) {

.tabs-container {
    padding-inline: 25px;
    font-size: 3vw;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
  }

.tab-html,
.tab-css,
.tab-javascript,
.tab-react,
.tab-svelte {
    color: teal;
}

.tab-html:hover {
    color: red;
    transition: ease-in-out;
}


.tab-css:hover {
    color: blue;
    transition: ease-in-out;
}

.tab-javascript:hover {
    color: yellow;
    transition: ease-in-out;
}


.tab-react:hover {
    color: rgb(0, 149, 255);
    transition: ease-in-out;
}

.tab-svelte:hover {
    color: rgb(187, 0, 255);
    transition: ease-in-out;
}


.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    position: relative;
    text-align: center;
    margin-top: 30vw;
    margin-bottom: 8vw;
}

.main-heading {
    font-size: 3.5vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.job-role {
    font-size: 2.75vw;
    letter-spacing: 3px;
    color: #ce23a6;
    margin-bottom: 8vw;
}

.intro-text {
    font-size: 2.7vw;
    color: grey;
    margin-bottom: -5px;
}

}



/* Large devices */

@media only screen and (min-width: 768px) {

    .tabs-container {
        padding-inline: 25px;
        font-size: 2vw;
        display: flex;
        justify-content: space-between;
      }
    
    .tab-html,
    .tab-css,
    .tab-javascript,
    .tab-react,
    .tab-svelte {
        color: teal;
    }
    
    .tab-html:hover {
        color: red;
        transition: ease-in-out;
    }
    
    
    .tab-css:hover {
        color: blue;
        transition: ease-in-out;
    }
    
    .tab-javascript:hover {
        color: yellow;
        transition: ease-in-out;
    }
    
    
    .tab-react:hover {
        color: rgb(0, 149, 255);
        transition: ease-in-out;
    }
    
    .tab-svelte:hover {
        color: rgb(187, 0, 255);
        transition: ease-in-out;
    }
    
    
    .introduction {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;
        position: relative;
        text-align: center;
    }
    
    .main-heading {
        font-size: 40px;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    .job-role {
        font-size: 22px;
        letter-spacing: 5px;
        margin-bottom: 50px;
    }

    .intro-text {
        color: grey;
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-bottom: -5px;
    }

}