.card-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.app-container,
.website-container,
.tech-used-cont {
  width: 350px;
  justify-content: center;
  text-align: center;
}

.web-desc-cont {
  margin-top: 30px;
}

.description-container {
  height: 400px;
}

.tech-used-cont {
  height: 220px;
}

.site-link {
  color: rgb(0, 134, 252);
}

.section-title {
  font-size: 15px;
  color: teal;
}

.web-desc-text,
.tech-used {
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9e9e9e;
}

.tech-used {
  text-align: center;
}

.card {
    width: 300px;
    background-color: #080a0d;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .image-container {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;
    margin-top: -40px;
  }
  .image-container img {
    object-fit:cover ;
  }

  .profile-img {
    height: 15vw;
    width: 15vw;
    border-radius: 200px;
  }

  .content {
    padding: 24px 16px;
  }
  
  .profile-name {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 4px;
  }
  .job-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ce23a6;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .description {
    font-size: 14px;
    letter-spacing: 1px;
    color: #9e9e9e;
  }

  
  .social-links {
    width: 100%;
    display: flex;
    height: 0;
    border-top: 1px solid #cfcfcf;
    transition: height 0.3s ease;
  }
  .card:hover .social-links {
    height: 65px;
  }
  
  .social-links .instagram {
    --color: #ee5487;
  }
  .social-links .linkedin {
    --color: #0077b5;
  }
  .social-links .twitter {
    --color: #bbc52b;
  }
  
  .social-links > a {
    font-size: 20px;
    padding-block: 20px;
    color: var(--color);
    flex: 1;
  }
  
  .social-links > a:not(:last-child) {
    border-right: 1px solid #cfcfcf;
  }
  .social-links > a:hover {
    background-color: var(--color);
  }
  .social-links > a:hover > i {
    color: white;
  }
  
  .p1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2px; 
  }

  .status-notice {
    color: #0077b5;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 3px;
  }


